@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --bg-color: #F9F7F7;
  --bg-button: rgb(8, 8, 6);
  --base-font-size: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
  --input-font-size: 32px;
  --font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.main__container {
  max-width: 90%;
  margin: 5rem auto;
  /* border: 1px solid black; */
}

.title {
  text-align: center;
}

input {
  box-sizing: border-box;

}

/* password__container */
.password__container {
  max-width: 50%;
  margin: 2rem auto;
  /* border: 1px solid red; */
  padding: 1rem 2rem;
}

.password__field {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* background-color: red; */
}

.password__input {
  padding: 0.8rem 1.2rem;
  font-size: var(--input-font-size);
  /* height: 30px; */
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

/* Button */
.copy__btn {
  padding: 1.2rem 0rem;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18rem;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  background-color: #3F72AF;
}

.copied__btn{
  background-color: green;
}

/* SLIDER */
.slider__field{
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

input[type='range'] {
	-webkit-appearance: none;
	height: 7px;
  width: 60%;
	background: grey;
	border-radius: 5px;
	background-image: linear-gradient(#d46a6a, #d46a6a);
	background-repeat: no-repeat;
}

.slider__p{
  margin-left: auto;
  font-family: var(--font-family);
  font-weight: 700;
}

/* CHECKBOX */
.checkbox__field{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox__container{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 8px;
}

.checkbox{
  width: 25px;
  height: 25px;
}
.checkbox__characters{
  margin-top: 0.4rem;
}

.checkbox__title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size-md);
}

@media only screen and (max-width:830px) {
  .password__container {
    max-width: 90%;
    
  }
}